body {
	background-color: #F2F2F2;
}
a {
	color: inherit;
	text-decoration: none;
	background-color: #BFF3E9;
}
a:hover {
	color: inherit;
	background-color: #E8DDB5;
}
canvas {
    display: block;
    margin: 20% auto;
}
noscript {
    display: block;
    margin: 20%;
}